---
import { Item } from "@/components/ui/item";
import ToggleTheme from "./ToggleTheme";
---

<Item variant={"outline"} className="">
  <h1 class="text-3xl m-plus-rounded-1c font-extrabold tracking-wider">
    Kolam Generator
  </h1>
  <div class="ml-auto">
    <ToggleTheme client:load />
  </div>
</Item>
